# https://editorconfig.org/

root = true

[*]
trim_trailing_whitespace = true
indent_style = tab
indent_size = 4

[{*.fs,*.md,LICENSE}]
indent_style = space
indent_size = 4

[{*.json,*.*proj,*.nuspec}]
indent_style = space
indent_size = 2
